root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.cs]
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_diagnostic.CA1716.severity = none

[*.razor]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.razor.cs]
indent_size = 4

[DuongNhan.ApiService/Data/Migrations/*.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none

[*.{json,yml,yaml,csproj,props,targets,slnx}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
