root = false

[*.cs]
# "Shared" is a Visual Basic keyword, but this is an internal namespace
# segment used only inside this app. CA1716 is a false positive here.
dotnet_diagnostic.CA1716.severity = none

[*.razor]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.razor.cs]
indent_size = 4